<footer class="footer footer-fix">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 footer-copyright">
                <p class="mb-0">© 2024 Hệ thống quản lý giáo viên. Phát triển bởi <a href="#" class="text-primary">LuckyBoiz</a></p>
            </div>
            <div class="col-md-6">
                <p class="pull-right mb-0">Phiên bản 1.0.0 <i class="fa fa-heart font-secondary"></i></p>
            </div>
        </div>
    </div>
</footer>