<div class="sidebar-wrapper" sidebar-layout="stroke-svg">
    <div>
        <div class="logo-wrapper">
            <a asp-controller="Home" asp-action="Index"><img class="img-fluid for-light" src="~/assets/images/logo/logo.png" alt=""><img class="img-fluid for-dark" src="~/assets/images/logo/logo_dark.png" alt=""></a>
            <div class="back-btn"><i class="fa fa-angle-left"></i></div>
            <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="grid"> </i></div>
        </div>
        <div class="logo-icon-wrapper"><a asp-controller="Home" asp-action="Index"><img class="img-fluid" src="~/assets/images/logo/logo-icon.png" alt=""></a></div>
        <nav class="sidebar-main">
            <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
            <div id="sidebar-menu">
                <ul class="sidebar-links" id="simple-bar">
                    <li class="sidebar-main-title">
                        <div>
                            <h6>Hệ thống quản lý giáo viên</h6>
                        </div>
                    </li>
                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title link-nav" asp-controller="Home" asp-action="Index">
                            <svg class="stroke-icon">
                                <use href="../assets/svg/icon-sprite.svg#stroke-home"></use>
                            </svg>
                            <span>Trang chủ</span>
                        </a>
                    </li>
                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title">
                            <svg class="stroke-icon">
                                <use href="../assets/svg/icon-sprite.svg#stroke-user"></use>
                            </svg>
                            <span>Quản lý giáo viên</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li><a asp-controller="GiaoVien" asp-action="Index">Danh sách giáo viên</a></li>
                            <li><a asp-controller="GiaoVien" asp-action="Create">Thêm giáo viên</a></li>
                        </ul>
                    </li>
                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title">
                            <svg class="stroke-icon">
                                <use href="../assets/svg/icon-sprite.svg#stroke-learning"></use>
                            </svg>
                            <span>Quản lý tổ chức</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li><a asp-controller="Khoa" asp-action="Index">Danh sách khoa</a></li>
                            <li><a asp-controller="BoMon" asp-action="Index">Danh sách bộ môn</a></li>
                            <li><a asp-controller="Khoa" asp-action="Create">Thêm khoa</a></li>
                            <li><a asp-controller="BoMon" asp-action="Create">Thêm bộ môn</a></li>
                        </ul>
                    </li>
                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title">
                            <svg class="stroke-icon">
                                <use href="../assets/svg/icon-sprite.svg#stroke-job-search"></use>
                            </svg>
                            <span>Quản lý giảng dạy</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li><a asp-controller="GiangDay" asp-action="Index">Danh sách tải GD</a></li>
                            <li><a asp-controller="GiangDay" asp-action="Create">Thêm tải GD</a></li>
                            <li><a asp-controller="GiangDay" asp-action="ThongKe">Thống kê NCKH</a></li>
                        </ul>
                    </li>
                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title">
                            <svg class="stroke-icon">
                                <use href="../assets/svg/icon-sprite.svg#stroke-book-open"></use>
                            </svg>
                            <span>Quản lý NCKH</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li><a asp-controller="NCKH" asp-action="Index">Danh sách tài NCKH</a></li>
                            <li><a asp-controller="NCKH" asp-action="Create">Thêm tài NCKH</a></li>
                            <li><a asp-controller="NCKH" asp-action="LoaiNCKH">Quản lý loại NCKH</a></li>
                            <li><a asp-controller="NCKH" asp-action="ThongKe">Thống kê NCKH</a></li>
                            <li><a asp-controller="NCKH" asp-action="TopGiaoVien">Top giáo viên xuất sắc</a></li>
                        </ul>
                    </li>
                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title">
                            <svg class="stroke-icon">
                                <use href="../assets/svg/icon-sprite.svg#stroke-users"></use>
                            </svg>
                            <span>Quản lý hoạt động</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li><a asp-controller="KhaoThi" asp-action="Index">Công tác khảo thí</a></li>
                            <li><a asp-controller="HoiDong" asp-action="Index">Tham gia hội đồng</a></li>
                            <li><a asp-controller="HuongDan" asp-action="Index">Hướng dẫn luận văn</a></li>
                        </ul>
                    </li>
                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title">
                            <svg class="stroke-icon">
                                <use href="../assets/svg/icon-sprite.svg#stroke-chart"></use>
                            </svg>
                            <span>Báo cáo thống kê</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li><a asp-controller="BaoCao" asp-action="GiangDayTheoGiaoVien">BC Giảng dạy theo GV</a></li>
                            <li><a asp-controller="BaoCao" asp-action="NCKHTheoGiaoVien">BC NCKH theo GV</a></li>
                            <li><a asp-controller="BaoCao" asp-action="HoanThanhDinhMuc">BC Hoàn thành định mức</a></li>
                            <li><a asp-controller="BaoCao" asp-action="GiangDayTheoKhoaBoMon">BC theo khoa/bộ môn</a></li>
                            <li><a asp-controller="BaoCao" asp-action="TongHop">BC Tổng hợp</a></li>
                        </ul>
                    </li>
                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title">
                            <svg class="stroke-icon">
                                <use href="../assets/svg/icon-sprite.svg#stroke-settings"></use>
                            </svg>
                            <span>Cài đặt hệ thống</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li><a href="#">Quản lý người dùng</a></li>
                            <li><a href="#">Phân quyền</a></li>
                            <li><a href="#">Định mức và quy đổi</a></li>
                            <li><a href="#">Sao lưu dữ liệu</a></li>
                            <li><a asp-controller="Login" asp-action="Logout">Đăng xuất</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
        </nav>
    </div>
</div>